* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: #ffffff20;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) #ffffff20;
  }
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #e2e2e2;
  --text-color: rgb(59, 59, 59);
  --main-color: #c300ff;
  --neon-box-shadow: 0 0 0.5rem #c300ff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 17%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 16rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: #213264;
  border-bottom: 2px solid #213264;
}

@keyframes navbarSlide {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar.animate-navbar {
  animation: navbarSlide 0.8s ease-out forwards;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 7px;
  list-style: none;
}

.dropdown-menu li {
  padding: 7px;
}

.dropdown-menu li a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


